
body {
	margin:5px;
}

div.MastWrap {
	background-color:white;
    position: fixed;
    top:0; left:0; right:0;
	height:9em;
}

div.MastWrap > div {
    position: fixed;
    top:5px; left:5px; right:5px;
	height:8em;
}

div.MastHead {
	background-color:#DADAEA;
	overflow:hidden;
	height:8em;
}

div.ContentWrapper {
 	background-color:#DADAEA;
    position:absolute;
    display:block;
	top:9em;
	left:5px;
	right:5px;
	bottom:1em;
}

div.ContentArea {
    position:relative;
    display:block;
	height:100%;
}

div.Navigation {
    position:relative;
    display:block;
	background-color:#DADAEA;
	overflow:hidden;
	width:14em;
	height:100%;
	float:left;
/*	border:1px solid black; */
}

div.Navigation > div {
    position:fixed;
    display:block;
	background-color:#DADAEA;
	width:14em;
	height:100%;
}

div.ContentBox {
    display:block;
	height:100%;
	margin-left:14em;
	margin-right:2em;
	padding-top:20px;
	background-color:#F7F7FF;
    -webkit-border-top-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -moz-border-top-left-radius: 20px;
    -ms-border-top-left-radius: 20px;
    -o-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
}

div.SideBar {
    display:block;
	background-color:#DADAEA;
	width:2em;
	height:100%;
	float:right;
}

div.SideBar > div {
	background-color:#DADAEA;
	width:2em;
	height:100%;
    position:fixed;
}

div.Footer {
    position:fixed;
	background-color:#DADAEA;
	height:1.2em;
	top:auto;
	bottom:0px;
	left:5px;right:5px;
}

div.Content {
	height:100%;
}

div.MenuHeader {
	background-color:#CACADA;
	overflow:hidden;
	text-align:center;
	margin:auto;
}

form.edit-form {
    height:100%;
}

div.vscroll {
    display: block;
    overflow:hidden;
    overflow-y:auto;
    margin-left:0.8em;
    margin-right:1em;
    line-height:1.5em;
}

div.vscroll > p {    text-indent:1.5em;
}

div.form-fields > table {
    width:100%;
}

textarea.pre {
    font-family: monospace;
    white-space: pre;
    overflow: auto;
    font-size:10pt;
    min-width:60em;
}

pre {
    display: block;
    width:90%;
    font-family: monospace;
    white-space: pre;
    margin: 0 5%;
    padding: 1em;
    height: auto;
    max-height:20em;
    overflow: auto;
	background-color:#D0D0E0;
    line-height:1.1em;
    font-size:10pt;
}

div.highlight > pre {
	background-color:#10102A;
    color: white;
}

body.plainText pre {
	background-color: #FAFAFA;
    color: #000010;
    max-height:none;
    font-size:8.5pt;
    font-stretch: narrower;
    width:95%;
    margin: 0 2%;
    padding: 0.5em;
}
